@import "tailwindcss";
@import 'react-toastify/dist/ReactToastify.css';


:root{
    --pri: #33CC99;
    --sec: #ffca99;
    --tri: #45484C;
}



@font-face {
  font-family: 'MyFont';
  src: url('./assets/fonts/Archivo-VariableFont_wdth\,wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'title';
  src: url('./assets/fonts/Michroma-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.font-title{
  font-family: 'title', sans-serif;
}

.font-MyFont {
  font-family: 'MyFont', sans-serif;
}
